$white: #ffffff;
$black: #333;

$font-dark-grey: rgb(143, 143, 143);
$font-light-grey: #474747;
$grey: rgb(220, 220, 220);
$red-light: #fa3c3c;

//font-sizes

$font-16: 16px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
