@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: white;
  text-decoration: none;
}
