@import "../styles/variables";

.content {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply mb-4;
  min-height: 200px;

  .header {
    @apply my-5;
    width: 75%;
    height: 50px;
  }

  .image {
    width: 90%;
    height: 200px;
  }
  p {
    @apply mt-3;
  }
}

.gameBtn {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply rounded;
  @apply cursor-pointer;
  @apply text-white;
  @apply font-bold;
  background-color: $red-light;
  width: 15%;
  height: 38px;
}
