@import "../styles/variables";

.bg {
  @apply w-full;
  @apply absolute;
  @apply pt-2;
  height: 65vh;
  @media (min-width: $md-990) {
    height: 84vh;
  }
}

.hero {
  @apply h-full;
  @apply z-0;
  @media (min-width: $img-700) {
    @apply m-auto;
  }
  @media (min-width: $img-1350) {
    width: 80%;
  }
  @media (min-width: $img-1650) {
    width: 66%;
    @apply mt-8;
  }
}

.logo {
  @media (min-width: $md-990) {
    @apply absolute;
    @apply z-30;
    @apply m-auto;
    width: 27%;
    bottom: 365px;
  }
}
