@import "../styles/variables";

// Background image.
.bg {
  @apply w-full;
  @apply absolute;
  @apply pt-2;
  height: 65vh;
  @media (min-width: $md-990) {
    height: 89.5vh;
  }
}

// Shoujo image.
.hero {
  @apply z-0;
  @media (min-width: $img-700) {
    @apply m-auto;
  }
  @media (min-width: $img-1350) {
    width: 80%;
  }
  @media (min-width: $img-1650) {
    width: 62%;
    @apply mt-16;
  }
}

.logo {
  @media (min-width: $md-990) {
    @apply absolute;
    @apply z-30;
    @apply m-auto;
    width: 27%;
    bottom: 300px;
  }
}
