@import "../styles/variables";

.content {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-evenly;
  @apply mt-4;
  @media (min-width: $md-990) {
    @apply mt-8;
  }

  .categories {
    @apply flex;
    @apply w-full;
    @apply items-center;
    @apply justify-evenly;
    @apply mb-4;
    @apply mt-2;
    @media (min-width: $md-990) {
      @apply mt-8;
      @apply mb-12;
      width: 30%;
    }

    .inner {
      @apply flex;
      @apply items-center;
      @apply cursor-pointer;
      font-size: $font-20;

      .selected {
        border-bottom: 1px solid;
      }

      & > :first-child {
        @apply mr-2;
      }
    }
  }
  .post {
    @apply m-auto;
    @apply mb-2;
    border: 2px solid $grey;
    height: 70px;
    transition: $ease-2;
    width: 90%;
    @media (min-width: $md-990) {
      @apply cursor-pointer;
      @apply mb-10;
      @apply pt-2;
      @apply px-3;
      width: 50%;
      height: 145px;

      &:hover {
        transition: $ease-2;
        border-color: $red-light;
      }
    }

    .postContent {
      @apply flex;
      @apply flex-col;
      @apply justify-between;
      @apply items-start;
      @apply mt-2;
      @apply px-2;

      div {
        @apply flex;
        @apply items-center;
        @apply justify-between;
        @apply w-full;

        h4:first-child {
          color: $font-light-grey;
        }

        h4:last-child {
          @apply mt-1;
          color: $font-dark-grey;
        }
      }

      span {
        @apply text-white;
        @apply px-3;
        @apply py-1;
      }
    }
  }

  .redBtn {
    @apply m-auto;
    @apply my-4;
    @apply px-1;
    width: 95%;
    @media (min-width: $md-990) {
      @apply my-8;
      width: 25%;
    }
  }
}

.arrowDiv {
  @apply absolute;
  @apply mt-40;
  @apply ml-40;
  @apply pr-4;
  @apply pl-4;
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply text-white;
  width: 50%;
  @media (min-width: $md-990) {
    @apply mt-0;
    @apply ml-0;
    @apply relative;
    bottom: 75px;
    width: 25%;
  }
}
