@import "../../styles/main";
@import "../../styles/variables";

.btn {
  @apply rounded-md;
  @apply flex;
  @apply text-white;
  @apply cursor-pointer;
  @apply mx-3;
  @apply bg-black;
  transition: $ease-2;
  max-width: 180px;
  height: 55px;

  &:hover {
    transition: $ease-2;
    background-color: lighten($color: black, $amount: 15%);
  }

  & > :first-child {
    width: 30%;
    font-size: 35px;
  }

  & > :nth-child(2) {
    @apply h-full;
    @apply flex;
    @apply items-start;
    @apply flex-col;
    width: 70%;

    & > :first-child {
      @apply w-full;
      @apply mb-0;
      height: 35%;
      font-size: 12px;
    }

    & > :last-child {
      @apply mt-0;
      font-size: 24px;
      height: 65%;
    }
  }
}
