@import "../../styles/variables";

.socialDiv {
  @apply flex;
  @apply items-center;
  @apply justify-evenly;
  @apply m-auto;
  @apply mt-10;
  @apply mb-4;
  width: 40%;
  @media (min-width: $md-990) {
  }

  .icons {
    @apply text-white;
    @apply p-3;
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  .tw {
    background-color: $twiiter;
  }

  .fb {
    background-color: $facebook;
  }
}
