@import "../../styles/variables";

.titleDiv {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply mb-2;

  h3 {
    @apply text-black;
    font-size: $font-24;
  }

  div {
    @apply mt-1;
    width: 8%;
    border-bottom: 1px solid $red-light;
    @media (min-width: $md-990) {
      @apply mt-2;
      width: 2%;
      border-width: 2px;
    }
  }
}
