@import "../../styles/variables";

.titleDiv {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply mb-2;

  h3 {
    @apply text-black;
    font-size: $font-24;
  }

  div {
    @apply mt-1;
    width: 8%;
    border-bottom: 1px solid $red-light;
  }
}
