@import "../../styles/variables";

.mobileDiv {
  @apply m-auto;
  @apply mt-10;
  height: 85%;
  border: 2px solid $red-light;
  width: 90%;
  @media (min-width: $md-990) {
    @apply mt-16;
    width: 48%;
    height: 350px;
  }

  .top {
    @apply flex;
    @apply pt-4;
    @apply px-4;
    @media (min-width: $md-990) {
      @apply pt-10;
      @apply m-auto;
      width: 90%;
      @apply justify-center;
    }

    .image {
      @apply mr-4;
      width: 38%;
      @media (min-width: $md-990) {
        @apply mr-0;
        @apply ml-2;
        width: 14%;
        height: 105px;
      }
    }

    .btnDiv {
      @apply flex;
      @apply flex-col;
      @apply justify-evenly;
      @media (min-width: $md-990) {
        @apply flex-row;
        background-color: blue;
        @apply w-full;
      }
    }
  }

  .btnDiv {
    @media (min-width: $md-990) {
      @apply flex;
      @apply flex-row;
      @apply justify-center;
      @apply items-center;
      @apply w-full;
      @apply mt-4;

      div {
        @apply mr-12;
      }
    }
  }

  .center {
    @apply m-auto;
    @apply mt-6;
    width: 85%;
    @media (min-width: $md-990) {
      @apply mt-0;
      @apply ml-8;
      @apply grid;
      grid-template-columns: 50% 50%;
      width: 80%;
    }

    div:first-child {
      @apply mb-0;
    }

    .featureDiv {
      @apply mb-5;
      @apply flex;
      height: 30px;
      @media (min-width: $md-990) {
        @apply flex-col;
        @apply items-start;
        @apply justify-start;
        @apply mr-10;
        @apply pl-4;
        height: 60px;
        width: 80%;
      }

      span {
        @apply mt-1;
        width: 40%;
        color: $red-light;
      }

      p {
        font-size: $font-14;
        width: 60%;
        @media (min-width: $md-990) {
          @apply w-full;
          font-size: $font-16;
        }
      }
    }
  }
}
