@import "../../styles/variables";

.mobileDiv {
  @apply m-auto;
  @apply mt-10;
  height: 85%;
  border: 2px solid $red-light;
  width: 90%;
  @media (min-width: $md-990) {
    @apply mt-16;
    width: 48%;
    height: 350px;

    & > :first-child {
      @apply flex;
      @apply pt-4;
      @apply px-4;

      @media (min-width: $md-990) {
        @apply pt-10;
        @apply m-auto;
        width: 90%;
        @apply justify-center;

        & > :first-child {
          @apply mr-4;
          width: 38%;
          @media (min-width: $md-990) {
            @apply mr-0;
            @apply ml-2;
            width: 14%;
            height: 105px;
          }
        }

        & > :last-child {
          @media (min-width: $md-990) {
            @apply px-8;
            width: 86%;
          }

          & > :first-child {
            @apply m-auto;
            @apply mt-6;
            width: 85%;
            @media (min-width: $md-990) {
              @apply mt-0;
              @apply grid;
              @apply items-start;
              @apply w-full;
              grid-template-columns: 50% 55%;

              // Feature div.
              & > :is(div) {
                @apply mb-5;
                @apply flex;
                height: 30px;
                @media (min-width: $md-990) {
                  @apply flex;
                  @apply flex-col;
                  @apply items-start;
                  @apply justify-center;
                  height: auto;

                  // Feature header.
                  & > :first-child {
                    @apply mt-1;
                    @apply font-light;
                    font-size: $font-14;
                    width: 40%;
                    color: $red-light;
                  }

                  // Feature sub header.
                  & > :last-child {
                    font-size: $font-14;
                    width: 60%;
                    @apply font-light;

                    @media (min-width: $md-990) {
                      @apply w-full;
                      font-size: $font-16;
                    }
                  }
                }
              }
            }
          }

          // Buttons container.
          & > :last-child {
            @media (min-width: $md-990) {
              @apply flex;
              @apply flex-row;
              @apply justify-start;
              @apply items-center;
              @apply w-full;
              @apply mt-2;

              // Buttons single div.
              & > :is(div) {
                @apply mx-0;
                @apply items-center;
                @apply flex;
              }

              // Buttons last div.
              & > :nth-child(2) {
                @apply ml-8;
              }
            }
          }
        }
      }
    }
  }
}
