@import "../../styles/variables";

.banner {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  height: 375px;
  background-color: $red-light;
  opacity: 0.98;
  @media (min-width: $md-990) {
    @apply justify-evenly;
    height: 300px;
  }

  div:first-child {
    @apply mt-8;
    @media (min-width: $md-990) {
      @apply mt-0;
      @apply mb-2;
    }
  }

  .navLink {
    @apply text-white;
    @apply m-auto;
    @apply uppercase;
    width: 70%;
    font-size: $font-24;
  }

  .webWrapper {
    @apply flex;
    @apply w-full;
    @apply items-center;
    @apply justify-center;

    span:first-child {
      border-left: $link-border;
    }

    a:first-child {
      border-left: $link-border;
    }

    .webLinks {
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply pb-1;
      @apply cursor-pointer;
      @apply px-8;
      @apply uppercase;
      @apply font-bold;
      @apply mt-3;
      font-size: $font-20;
      border-right: $link-border;
      transform: skew(-14deg);
      height: 70px;
      min-width: 9%;

      &:hover {
        @apply bg-white;
        @apply text-black;
        transition: $ease-2;
      }
    }
  }

  .youtube {
    @apply m-auto;
    @apply mt-8;
    @apply mb-5;
    height: 85px;
    width: 75%;
    @media (min-width: $md-990) {
      @apply mt-20;
      width: 20%;
    }
  }
}
